<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>多签发布</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<link rel="stylesheet" type="text/css" href="/stylesheets/countersign/push.css" />
	</head>
	<body>
		<div class="home-box">
			<ul class="section-ui">
				<li>
					<div class="li-div-title">
						<img src="/images/countersign/sign-fabu.png">
						<a class="item-title" href="/sign/getfromSend" style="margin-top: 15px;">发布会签合同</a>
					</div>
				</li>
				<li>
					<div class="li-div-title">
						<img src="/images/countersign/sign-chaxun.png" >
						<a class="item-title" href="/sign/getselect">查看会签状态</a>
					</div>
				</li>

			</ul>
			
		</div>
	</body>
</html>
